<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<% if @user.card.attached? %>
  <p>
    <%= image_tag url_for(@user.card) %>
  </p>
<% else %>
  <p>画像がありません</p>
<% end %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
